#preview-pins ul li {
	padding: 0 6px;
	height: 21.9px;
	line-height: 21.9px;
  }
  #preview-pins-center {
	width: 220px;
	height: 600px;
	background: #000 url(ESP32-S3-DevKitC-1.png) center center no-repeat;
  }
  .preview-pin {
	line-height: 16px;
	font-size: 15px;
	margin: 0 2px;
	padding: 0 8px;
  }