#preview-pins ul li {
  padding: 0 6px;
  height: 27.5px;
  line-height: 27.5px;
}
#preview-pins-center {
  width: 306px;
  height: 600px;
  background: #000 url(Preview.png) center center no-repeat;
}
.preview-pin {
  line-height: 20px;
  font-size: 15px;
  margin: 0 2px;
  padding: 0 8px;
}